body {
    background-color: white;
}

.text-align-center {
        text-align:center;
}

.poll-row {
    border-style: solid;
    border-width: 2px;
    border-color: green;
    padding-bottom:2px;
}

