body {
    background-color: white;
}

.text-align-center {
        text-align:center;
}

.poll-row {
    border-top: 2px solid green;
    padding-bottom: 12px;
}

.ProfileImageSection {
   padding-bottom: 7px;
}

.editProfile {
   margin-top: 7px;

}

.hidden { display:none; }

.mapContainer {
        background-color:pink;

            height: 200px;
}

.map {
        height: 200px;

}
