body {
    background-color: white;
}

.text-align-center {
        text-align:center;
}

.poll-row {
    border-top: 2px solid green;
    padding-bottom: 12px;
}

.ProfileImageSection {
   padding-bottom: 7px;
}

.editProfile {
   margin-top: 7px;

}

.hidden { display:none; }

.mapContainer {
        background-color:white;
        right: 0;
        width: inherit;
            height: 275px;
        position: fixed;
        z-index: 8;
}

.map {
        height: 275px;
        width:inherit;
        position: absolute;
        z-index: 9;
}
